*

!/app/.env
!/app/.env.*
!/app/assets/
!/app/bin/
!/app/composer.*
!/app/config/
!/app/migrations/
!/app/package*.json
!/app/public/
/app/public/uploads/
!/app/src/
!/app/symfony.lock
!/app/templates/
!/app/webpack.config.js
!/cron/
!/docker/
